*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: inherit; /* inherit indica que hereda el tamaño del padre, en este caso del html*/
}

