*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}


.container{
    border: 0.1rem solid black;
    display: flex;
    flex-wrap: wrap; /*hace que cuando la pantalla disminuya este baje el contenedor*/
}

.box{
    width: 10rem;
    height: 10rem;
    flex-grow: 1; /*hace que el contenedor que baje ocupe todo el ancho de la pantalla*/
}

.box1{
    background-color: blue;
}

.box2{
    background-color: blueviolet;
}

.box3{
    background-color: burlywood;
}

.box4{
    background-color: cadetblue;
}

.box5{
    background-color: coral;
}

.box6{
    background-color: salmon;
}